/* General styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #473144;
}

h1, h2, h3, h4 {
    color: #AF1B3F;
}

a {
    color: #AF1B3F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header styles */
header {
    background-color: #EFC69B;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

/* Main Content */
main {
    margin: 20px auto;
    max-width: 800px; /* Restrict the width like the navbar */
}

/* Article Styling */
.article-container {
    display: flex;
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
    margin-bottom: 20px;
    align-items: flex-start; /* Align to the top of the container */
}

.details {
    width: 250px; /* Fixed width for the details section */
    text-align: right;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 0.9em;
}

.details p {
    margin: 5px 0;
}

.book-info {
    flex: 1;
    text-align: left;
}

.book-info h3 {
    margin-top: 0; /* Remove top margin */
}

.book-info img {
    width: 150px;
    height: 225px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Footer styling */
footer {
    background-color: #473144;
    color: #fff;
    text-align: center;
    padding: 10px;
}
